.appDisplay {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);

    grid-row-gap: 25px;
    grid-column-gap: 25px;

    justify-content: center;
    align-items: center;

    padding: 25px;
    margin: auto;
}

.appIcon {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 8px;
}

.appIconHotBar {
    width: 75px;
    height: 75px;
    cursor: pointer;
    border-radius: 8px;
}

.appIconPlacholder {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 8px;
}
