.appDisplay {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);

    grid-row-gap: 25px;
    grid-column-gap: 25px;

    justify-content: center;
    align-items: center;

    padding: 25px;
    margin: auto;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.appIcon {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    user-select: none;
    -webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.appIcon:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.appIconHotBar {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.appIconPlacholder {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 8px;
}

