.topDiv{
    display: flex;
    justify-content: center;
    height: 25vh;
}

.middleDiv{
    display: flex;
    justify-content: center;
    flex-direction: row; 
    height: 50vh;
}

.downDiv{
    display: flex;
    justify-content: center;
    height: 25vh;
}