.topDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 25%;
    width: 100%;
}

.middleDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.downDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    height: 25%;
    width: 100%;
}