.musicUi {
    height: 70px;
    margin: 0px 30px;
}

.musicUi.icon {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}

#volumeSlider {
    height: 70px;
    vertical-align: center;
    width: 130px;
    
}