.arrow-container {
    position: fixed;
    top: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(2px);
}

.arrow-container.left {
    left: 20px;
    transform: scaleX(-1);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.8);
}

.arrow-container.right {
    right: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.arrow-container.up {
    top: 20px;
    transform: rotate(90deg);
    background: rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    width: 50px;
    height: 50px;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.8);
}

.arrow {
    width: 25px;
    height: 25px;
}


@keyframes appDisplayFromLeft {
    from {
        transform: translateX(-200vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes appDisplayFromRight {
    from {
        transform: translateX(200vw);
    }

    to {
        transform: translateX(0);
    }
}

.appDisplayFromLeft {
    animation: appDisplayFromLeft 0.5s;
    transform: translateX(0);
}

.appDisplayFromRight {
    animation: appDisplayFromRight 0.5s;
    transform: translateX(0);
}

@keyframes appDisplayToLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200vw);
    }
}

@keyframes appDisplayToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200vw);
    }
}

.appDisplayToLeft {
    animation: appDisplayToLeft 0.5s;
    transform: translateX(-200vw);
}

.appDisplayToRight {
    animation: appDisplayToRight 0.5s;
    transform: translateX(200vw);
}

.microphone {
    width: 30px;
    height: 30px;
    fill: white;
    transition: fill 0.2s;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
